<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>台灣AI金融市集</title>
<meta name="description" content="1.0" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="/style/index/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/style/index/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body>
<!--fisrt-->
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">AIF</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="#" accesskey="1" title="">首頁</a></li>
				<li><a href="/login" accesskey="2" title="">登入</a></li>
				<li><a href="#" accesskey="2" title="">註冊</a></li>
			</ul>
		</div>
	</div>
	<div id="banner" class="container">
		<div class="title">
			<h2>台灣AI金融市集</h2>
			<span class="byline">We provide the best services of finance.</span>
		</div>
	</div>
</div>

<!--Support-->
<div id="wrapper">
	<div id="three-column" class="container">
		<div class="title">
			<h2>Support</h2>
		</div>
		<div class="boxA">
			<p><h2><font color="Green">「智能理財與深度學習」訓練營</font></h2><br>
			政大商學院 金融研究中心主辦<br></p>
			<a href="http://2017.tw.finance/" class="button button-alt">Go</a>
		</div>
		<div class="boxB">
			<p><h2><font color="Green">GI Selector</font></h2><br>
			提供ETF的篩選、客製化操作</p>
			<a href="http://ai.tw.finance" class="button button-alt">Go</a>
		</div>
		<div class="boxC">
			<p><h2><font color="Green">學員研發入口網站</font></h2><br>
			提供學員完善的金融ai開發環境</p>
			<a href="https://dev.ifa.finance" class="button button-alt">Go</a>
		</div>
	</div>
</div>

<div id="wrapper">
	<div id="three-column" class="container">
		<div class="boxA">
			<p><h2><font color="Green">AI Market Facebook</font></h2><br>
			FaceBook討論區<br></p>
			<a href="http://ai.tw.finance" class="button button-alt">Go</a>
		</div>
		<div class="boxB">
		</div>
		<div class="boxC">
		</div>
	</div>
</div>

<div id="welcome">
	<div class="container">
		&copy; GI. All rights reserved.
	</div>
</div>
</body>
</html>